* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: hsl(0, 0%, 81%);
}


img {
    border-radius: 100px;
    height: 40px;
    object-fit: cover;
}

/* .image-daniel {
    border: 2.5px solid hsl(217, 19%, 35%);
} */

.image-patrick {
    border: 2.5px solid hsl(263, 55%, 52%);
}

/* TYPOGRAPHY */


h2 {
    font-weight: 500;
}

h3 {
    margin: 0;
}

.full-name,
.designation,
.testimonial-body {
    color: hsl(0, 0%, 81%);
}

.testimonial-title {
    color: hsl(0, 0%, 100%);
}

.designation {
    opacity: .5;
    margin: 0;
}

.testimonial-body {
    opacity: .7;
}

/* .daniel,
.jonathan,
.patrick {
    color: hsl(0, 0%, 100%);
} */

.jeanette,
.kira {
    color: hsl(217, 19%, 35%);
}

.jeanette>.testimonial-title,
.kira>.testimonial-title {
    color: hsl(217, 19%, 35%);
}

.jeanette>.testimonial-body,
.kira>.testimonial-body {
    color: hsl(219, 29%, 14%);
}

.different {
    color: hsl(219, 29%, 14%);
}

/* LAYOUT */

.container {
    width: 90%;
    margin: 2em auto 0;
    display: grid;
}

.testimonial {
    border-radius: 10px;
    padding: 2em;
    margin: 1em 0;
}

.daniel {
    background-color: hsl(263, 55%, 52%);
}

.jonathan {
    background-color: hsl(217, 19%, 35%);
}

.patrick {
    background-color: hsl(219, 29%, 14%);
}

.jeanette,
.kira {
    background-color: hsl(0, 0%, 100%);
}

/* Background quotation */
.daniel {
    position: relative;
}

.bg-quotation {
    position: absolute;
    top: 0;
    right: 1.5em;
}

/* Grid for testimonial */
.testimonial {
    display: grid;
}

.header {
    display: grid;
    grid-template-columns: 50px 2fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: .01em;
}

img {
    grid-column: 1 / span 1;
    grid-row: span 2;
}

.full-name,
.designation {
    grid-column: 2;
    align-self: start;
    justify-self: start;
    margin-right: auto;
}

/* MEDIA QUERIES */

@media (min-width: 900px) {
    .container {
        grid-template: auto auto / repeat(4, 1fr);
        grid-template-areas:
            "daniel   daniel  jonathan kira"
            "jeanette patrick patrick  kira";

        grid-gap: 0 2em;
    }

    .daniel {
        grid-area: daniel;
    }

    .jonathan {
        grid-area: jonathan;
    }

    .kira {
        grid-area: kira;
    }

    .jeanette {
        grid-area: jeanette;
    }

    .patrick {
        grid-area: patrick;
    }

    p,
    h2 {
        margin-bottom: 0;
    }


}