* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: hsl(0, 0%, 81%);
}


img {
    border-radius: 100px;
    height: 40px;
    object-fit: cover;
}

/* .image-daniel {
    border: 2.5px solid hsl(217, 19%, 35%);
} */

.image-patrick {
    border: 2.5px solid hsl(263, 55%, 52%);
}

/* TYPOGRAPHY */


h2 {
    font-weight: 600;
}

h3 {
    margin: 0;
}

.designation {
    opacity: .5;
    margin: 0;
}

.testimonial-body {
    opacity: .7;
}

.daniel,
.jonathan,
.patrick {
    color: hsl(0, 0%, 100%);
}

.jeanette,
.kira {
    color: hsl(217, 19%, 35%);
}




/* LAYOUT */

.container {
    width: 90%;
    margin: 2em auto 0;
    display: grid;
}

.testimonial {
    border-radius: 10px;
    padding: 2em;
    margin: 1em 0;
}

.daniel {
    background-color: hsl(263, 55%, 52%);
}

.jonathan {
    background-color: hsl(217, 19%, 35%);
}

.patrick {
    background-color: hsl(219, 29%, 14%);
}

.jeanette,
.kira {
    background-color: hsl(0, 0%, 100%);
}